.Flex {
    display: flex;
}

.Column {
  flex-direction: column;  
}

.SpaceAround {
    justify-content:space-around;
}

.SpaceBetween {
    justify-content: space-between;
}

.ItemCenter {
    align-items: center;
}

.MaxWidth {
    width: 50%;
}

.NoStyleList {
    list-style: none;
}

.BorderRight {
    border-right:0.1em solid #0e1728;
}

