.FamilyContainer img {
    object-fit: scale-down;
    height: 44%
}

.FamilyContainer div {
    width: 30%;
}

.FamilyContainer {
    height: 95vh;
}

.FamilyContainer p {
    width: 70%;
}
.WomenTiger {
    height: 44%;
}