.customWidth {
    width: 83% !important;
}

.FamilyContainer img {
    /* object-fit: scale-down; */
    width: 95%;
    height: auto;
}




.FamilyContainer p {
    width: 70%;
}

.FamilyTitle {
    margin: 5%;
}

